body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background:-webkit-linear-gradient(135deg, rgb(231, 222, 222), rgb(228, 216, 216));
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
*{
  padding: 0;
  margin: 0;
}

.loginp{
  display: block;
  margin: auto;
  margin-bottom: 20px;
  width: 25%;
  
}
#submit{
  display: block;
  margin: auto;
}
form{
  margin-top: 35vh;
  position: relative;
  bottom:20vh;
}
input{
  padding: 10px;
  background-color: cyan;
}

.buttons{
  text-align: center;
  background-color: rgb(212, 212, 209);
  padding: 1px;

}
.buttons h1{
  color: rgb(148, 158, 158);
  margin-top: 15px;
}
.buttons h2{
  color: rgb(148, 158, 158);
  margin-top: 5px;
}
.buttons button{
  margin-right: 10px;
  padding: 7px;
  background-color:rgb(251, 233, 233);
  border: 2px solid rgb(65, 65, 211);
  border-radius: 5px;
}
.buttonsTop{
  background-color: rgb(216, 198, 198);
}
.buttons button:active{
  background-color: chartreuse;
}
#MainScreenHeadh1{
  font-family: 'Playfair Display', serif;
}


nav li{
  display: inline;
  margin-right: 2%;
  text-decoration: none;
  background-color: rgb(233, 200, 17);
}
nav{
  background-color: rgb(200, 214, 214);
  padding: 10px;
}
.centerNav{
  width: 70vw;
  margin: auto;
  text-align: center;
}
.centerNavTer{
  width: 60vw;
  margin: auto;
  text-align: center;
  background-color: black;
  color: rgb(21, 180, 21);
  height: 80vh;
}

.MainScreenItems button{
  padding:4px;
  width: fit-content;
  display: block;
}
.MainScreenItems{
  position: absolute;
  top:50px;
}
.commandSection{
  width: 97%;
  margin-top: 2px;
  height: 4vh;
  background-color: rgb(1, 1, 10);
  color:cyan;
}
.outputSection{
  margin-top: 5px;
  text-align: left;
  padding-left: 5px;
}
.dashboard{
  background-color: orange;

}
.discussions{
  background-color: orange;
}
.commands{
  background-color: orange;
}
strong{
  color: white;
}
.commandsList{
  text-align: left;
  line-height: 1.5;
  padding: 5px;
}
.commandsList li{
  list-style: none;
}
.dash{
  background-color: rgb(255, 95, 9);
}
.dashClass{
  text-align: left;
  list-style:none;
}
.dashClass li{
  padding: 10px;
  color:rgb(4, 37, 61) ;
}
.dashClass h1{
  color: blueviolet;
}
.quizDash{
  position: absolute;
  top:10vh;
  list-style: none;
  background-color: blue;
  padding: 5px;
}
.quizDash button{
  background-color: greenyellow;
  padding: 2px;
  border-radius: 5px;
  border: 1px solid white;
}
.quizDash h2{
  color: yellow;
  margin-bottom: 5px;
}
.quizDash li{
  padding: 2px;
}
.quizConfig{
  background-color: lightblue;
  position: absolute;
  top:6vh;
}
.quizConfig label{
  font-size: 12px;
}
.quizConfig div{
  margin-top: 5px;
  background-color: rgb(11, 223, 219);
}
#submitQuizConf{
  margin-top: 10px;
  background-color: greenyellow;
  border: 2px solid white;
  border-radius: 5px;
}
#inputNumConf{
  width: 55%;
}